.h {
  font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    sans-serif;
  text-decoration: underline;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  margin: 15px;
  border-width: 20px;
  padding: 20px;
  user-select: none;
  flex-direction: column;
  display: flex;
  border: 2px solid black ;
  position: relative;
 /* width: fit-content; */
 width: 200px;
 margin-left: 550px;
  align-self: center;
  border-radius: 20px;
}
.f1 {
  text-align: center;
  align-content: center;
  border-radius: 30px;
  padding: 20px;
  position: fixed;
  border: 2px solid white ;
  background-color: rgb(54, 105, 54);
  width: min-content;
  padding: fit;
  box-sizing: border-box;
  font-weight: thin;
}

.info {
  margin: 10px;
  padding: 2px;
  border: 3px black groove transparent;
  box-sizing: border-box;
  /* transition: all 0.001s ease; */
}
.info:hover {
  box-shadow: 0px 0px 2px gold;
  border-color: gold;
  margin: 10px;
  padding: 2px;
  position: static;
}
.wrap{
    align-items: center;
    display: flex;
    gap: 0.5rem; /* controls spacing between h2 and form */
  padding: 2rem;
  flex-direction: column;
}
