body {
  /* text-align: center; */
  position: relative;
  padding: 0% 585px;
  width: fit-content;
  font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    sans-serif;
  text-align: left;
}
h2 {
  text-align: center;
  border-radius: 30px;
  border: 2px solid black;
}

.info {
  padding: 5px;
  border-radius: 20px;
  border: 2px solid black transparent;
}

.main {
  padding: 20px;
  border: 2px solid black;
}
.space{
    padding: 5px;
}
input[type='reset']
{
 background-color: red;
    font-size: larger;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;}